

## `.gitignore` File for Pilang Project

```gitignore
# Compiled object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.txt

# Compiled Static libraries
*.lib
*.a


# compressed files
*.rar

# Executables
*.exe
*.out
*.wasm

# web files
*.js
!utils/*.js
*.html


# Debug files
*.log
*.tmp


#log files
*.log

# Build directories
build/
dist/
bin/
emsdk/
release/    
# docs/
# micrograd/
# editors/
website/
# ML/


# Emscripten cache
.cache/
emscripten_cache/

# IDE-specific files
.vscode/
.idea/
*.code-workspace





#site

website/
#formatter and minifiers
# JS/


#release files
release/


# macOS
.DS_Store

# Windows
Thumbs.db


vids/


